.App {
  font-family: sans-serif;
  text-align: center;
}
.wideDiv a:hover {
  color: #000;
}
@media screen and (max-width: 800px) {
  #cn {
    width: 50px;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  margin-left: 5px;
  font-size: 17px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: white;
  background-color: #a6d230;
  border-radius: 5px;
}
.bg-light {
  background-color: white !important;
  box-shadow: 0px 1px 2px red, 0px -2px 2px transparent;
}

@media screen and (max-width: 800px) {
  #Tel {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

@media screen and (max-width: 800px) {
  #lab {
    text-align: center;
    width: 200px;
  }
}
